<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Jaltup - {% block title %}{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <ul class="bg-green-300">
            <li>Trouver mon d'alternance</li>
            <li>Écoles</li>
            <li>Bon plans</li>
            <li>Inscirption</li>
            <li>Login</li>
        </ul>
        {% block body %}{% endblock %}
    </body>
</html>
