<div{{ attributes }}>
    <input
            type="text"
            data-model="query"
            placeholder="Results update as you type..."
            class="form-control"
    >

    {% if computed.offers %}
        <div data-loading="addClass(opacity-50)" class="mt-3 row">
            {% for offer in computed.offers %}
                 {% if query is empty %}
                {% else %}
                    <br/>{{ offer.title }}
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <div class="pt-3">Ah! No packages found matching "{{ query }}"</div>
    {% endif %}
</div>
